.header__container {
  position: absolute;
  top: 100px;
  right: 0px;
  left: 0px;
  z-index: 200;
}

.header__name {
  font-family: "Trebuchet MS", "sans-serif";
  font-size: 28px;
  position: fixed;
  bottom: 10px;
  right: 25px;
  color: #000;
  mix-blend-mode: difference;
}

.header__title {
  color: #000;
  font-size: 58px;
  margin-top: 100px;
  mix-blend-mode: difference;
  pointer-events: none;
}

.header__menu {
  color: #fff;
}

.header__subtitle {
  font-family: "Trebuchet MS", "sans-serif";
  font-size: 24px;
}

.header__start-button {
  font-family: "Trebuchet MS", "sans-serif";
  font-size: 24px;
  padding-bottom: 5px;
  border: none;
  background: none;
  color: #000;
  mix-blend-mode: difference;
  transition: all 0.3s ease;
}

.header__start-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header__start-button_menu {
  color: #fff;
}

.header__selections {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto 0px;
  gap: 25px;
}

.header__button {
  font-family: "Trebuchet MS", "sans-serif";
  font-size: 24px;
  padding-bottom: 5px;
  border: none;
  background: none;
  color: #000;
  transition: all 0.3s ease;
}

.header__button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__cta {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 150px;
  color: #000;
}

.header__cta-text {
  font-family: "Trebuchet MS", "sans-serif";
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.header__cta-icon {
  font-family: "Trebuchet MS", "sans-serif";
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  animation: floating 0.3s alternate infinite;
}

@media screen and (max-width: 650px) {
  .header__name {
    font-size: 16px;
    right: 10px;
  }

  .header__cta {
    margin-top: 125px;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
