.hero__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #fff;
  width: 100%;
  margin: 0px auto 75px;
  padding: 25px 0px;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
