.recipe-list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
}
.recipe-list_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-template-rows: auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  list-style: none;
  margin: 0px auto;
  padding: 0px 20px 75px;
  box-sizing: border-box;
  white-space: normal;
}

.recipe-list__image {
  width: 100%;
  height: 400px;
  margin: 0px auto;
  padding: 0px;
}
