.recipe__item {
  font-family: "Trebuchet MS", "sans-serif";
  font-size: 24px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 470px;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  text-decoration: none;
  list-style: none;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 0;
}

.recipe__item:hover {
  cursor: pointer;
  transform: translateY(-15px);
}

.recipe-list__title {
  font-size: 21px;
  color: #000;
  margin: 15px auto 0px;
  text-decoration: none;
  list-style: none;
}

.recipe-list__title:visited {
  font-size: 21px;
  color: #000;
  margin: 15px auto 0px;
  text-decoration: none;
  list-style: none;
}
